*{
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgba(220, 180, 176, 0.753);
    font-family: 'Montserrat', sans-serif;
}

#btn-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.btn{
    width: 10em;
    padding: 1em;
    margin: 10px;
    margin-top: 1.5em;
    font-size: large;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    border: transparent;
}

/* Analog Button*/

#btn-analog{
    border: transparent;
    background-color: rgba(255, 0, 0, 0.592);
    color: white;
    box-shadow:  #800f0f 6px 6px 6px;
    transition: transform 200ms, box-shadow 200ms;
}


#btn-analog:active{
    background-color: red;
    box-shadow: none;
    transition-duration: 300ms;
    transform: translateX(6px) translateY(6px);   
}

/* Flip Button */

#btn-glow{
    background-color: #000;
    color: white;
    outline: 2px dashed yellow;
}

#btn-glow:hover{
    outline: 5px solid rgba(255, 255, 0, 0.738);
    transition: 200ms ease-in-out;
    transform: scale(1.05);
    color: yellow;
}

#btn-glow:active{
    color: black;
    background-color: rgb(255, 255, 0);
    outline: 4px solid rgb(0, 0, 0);
    transition: 100ms ease-in-out;
    transform: scale(0.98);
}

/* Holi Button */

#btn-holi{
    animation: rgb-light 6s infinite linear forwards;
    color: linen;
    box-shadow: white 5px 5px 5px;
}

#btn-holi:active{
    animation-play-state: paused;
    box-shadow: none;
    transition-duration: 300ms;
    transform: translateX(5px) translateY(5px);
}

@keyframes rgb-light{
    0%,
    100%{
        background-color: rgb(255, 0, 0, 0.75);
        box-shadow: rgb(0, 255, 0, 0.75) 5px 5px 5px;
    }

    33%{
        background-color: rgb(0, 255, 0, 0.75);
        color: black;
        box-shadow: rgb(0, 0, 255, 0.75) 5px 5px 5px;
    }

    66%{
        background-color: rgb(0, 0, 255, 0.75);
        color: white;
        box-shadow: rgb(255, 0, 0, 0.75) 5px 5px 5px;
    }
}

/* Footer */
footer{
    position: fixed;
    bottom: 0;
}